body{
	margin:0;
}

/*Header CSS Tags

*/
header{
	background: lightgray;
	width:100%;
}

#para1{
	
}

#para2{
	
}

header figure{
	width:47.5%;
	min-height: 120px;
	margin:0;
	display:inline-block;
}

header img{
	padding-top:10px;
	height:100px;
	width: 100px;
	float:left;
}

header figcaption{
	padding-top:10px;
	padding-top:5px;
	color:blue;
	overflow:hidden;
}

header form{
	padding-top:45px;
	width:47.5%;
	display:inline-block;
}

header fieldset{
	display:inline;
	overflow:hidden;
	border:0;
	float:right; 
	width:90%;
}

#searchString{
	width:80%;
	border-radius:5px;
}

#searchType{
	display:inline-block;
	width:80%;
}

header h2{
	margin:0;
	clear:both;
}

/*
nav  CSS Tags
*/

nav{
	color:white;
	border:2px solid royalblue;
	text-align:center;
	width:10em;
	background-color:royalblue;
	margin-left:1px;
}

nav ul{
	display:none;
	list-style:none;
	margin:0;
	padding:0;
	left:1px;
}

nav:hover ul{
	display:block;
	background-color:white;
	position:absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav ul li {
	border:solid royalblue;
	border-width:0 2px 2px 2px;
	background-color: white;
	width:10em;
	color:black;
}

nav ul li:not(.nohover):hover{
	background-color:powderblue;
}

nav a{
	text-decoration:none;
}

nav .active{
	background-color:powderblue;
}
/*
Footer CSS Tags
*/
footer{
	background: lightgray;
	width:100%;	
}

footer figure{
	width:47.5%;
	min-height: 120px;
	margin:0;
	display:inline-block;
}

footer img{
	padding-top:10px;
	height:100px;
	width: 100px;
	float:left;
}

footer figcaption{
	padding-top:10px;
	padding-top:5px;
	color:blue;
}

#copycontact{
	width:100%;
}

#footerleft{
	display:inline-block;
	width: 49%;
	height:100%;
}

footer address{
	height:100%;
	width: 49%;
	display: inline-block;
	text-align:right;
}