main{
	width:100%;
	text-align:center;
	background-image:/*url("hypnotoad.gif"),*/ url("mandelbrot.gif");
	background-color:#00003f;
	background-repeat:repeat-y;
	padding-top:20px;
	padding-bottom:80px;
}
main h3{
	margin-top:0;
	padding-top:15px;
	color:white;
}

main form{
	background-color:white;
	margin:0 20%;
	padding:10px 30px;
	width:50%;
	border: 2px groove silver;
}

.change{
	font-family:Comic Sans;
	color:red;
}

#mainform{
	padding:30px;
}

#skillText{
	padding-bottom:5px;
}

#inline{
	display:inline;
}

#exp0, #exp1, #exp2, #exp3, #exp4{
	display:inline-block;
}

#contacttype{
	padding-top: 10px;
	padding-bottom:10px;
}

#submitMain{
	margin-top:15px;
}