*:not(.uncolored):hover, *.colored:hover{
	background-color:yellow;
}

main{
	width:100%;
}

article{
	width:100%;
	text-align:center;
}

summary{
	width:100%;		
}

details{
	padding-top:30px;
}

#para1{
	padding:2em;
	margin:2em;
	width:30%;
	height:150px;
	overflow:scroll;
	display:inline-block;
}

#para2{
	margin:2em;
	width:30%;
	height:150px;
	overflow:hidden;
	display:inline-block;
}

section,details {
	width:100%;
	text-align:center;
}

#ContactUs h3{
	width:100%;	
}

#ContactUs figure{
	width:100%;
	display: inline-block;
	margin:0;
	padding-bottom: 50px;
}
#ContactUs figure img{
	max-height:200px;
	max-width:200px;
	display:inline-block;
}

#ContactUs figcaption{
	position:relative;
	top:-30px;
	display:inline-block;
	overflow:hidden;
	margin-bottom:5px;
}